/***font family***/
@font-face{
  font-family: Vazir;
  src: url(./../font/Vazir-Regular-FD.ttf);
  font-weight: normal;
  font-style: normal;
}
#wrapper{
  width: 100%;
  font-family: Vazir;
  background:#dee2e6;
  overflow-x: hidden;
} 
a {
  color: unset;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  color: unset;
  text-decoration: none;
}
.navbar-nav{
    display: flex;
    justify-content: flex-start;
}
.my-box{
  padding: 10px;
  background: white;
  border-radius: 10px;
  margin: 15px;
  height: 90%;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(40 ,36 ,53);
}
::-webkit-scrollbar-track {
  background: #dbe2ee;
}
/* style for every table */
.table{
  font-size: 15px;
  direction: rtl;
}
tr th{
  font-size: 12px;
}
tr td{
  font-size: 12px;
}
table>:not(caption)>*>* {
  padding: .25rem .25rem !important;
}
/* * */
/* style navbar menu */
ul{
  padding-left: 0 !important;
  direction: rtl;
}
ul li{
  list-style: none;
}
.iconApp{
  width: 40px;
  height: 40px;
  color: black;
}
/* * */
/*style time part2*/
.time {
  background: #222;
  color: #fff;
  padding: 8px;
  text-align: center;
  width: 120px;
}
.hms {
  font-size: 12pt;
  font-weight: 200;
}
.ampm {
  font-size: 8pt;
}
.date {
  font-size: 9pt;
}
/* * */
/* style clock */
.clock {
  width: 10rem;
  height: 10rem;
  border: 7px solid #282828;
  box-shadow: -4px -4px 10px rgba(67,67,67,0.5),
                inset 4px 4px 10px rgba(0,0,0,0.5),
                inset -4px -4px 10px rgba(67,67,67,0.5),
                4px 4px 10px rgba(0,0,0,0.3);
  border-radius: 50%;
  margin: 20px auto;
  position: relative;
  padding: 1rem; 
}

.outer-clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  
 
  overflow: hidden;
}

.outer-clock-face::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg)
}

.outer-clock-face::before,
.outer-clock-face::after,
.outer-clock-face .marking{
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  background: #1df52f;
  z-index: 0;
  left: 49%;
}

.outer-clock-face .marking {
  background: #bdbdcb;
  width: 3px;
}

.outer-clock-face .marking.marking-one {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg)
}

.outer-clock-face .marking.marking-two {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg)
}

.outer-clock-face .marking.marking-three {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  transform: rotate(120deg)
}

.outer-clock-face .marking.marking-four {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  transform: rotate(150deg)
}

.inner-clock-face {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: #282828;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;

}

.inner-clock-face::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 18px;
  margin-left: -9px;
  margin-top: -6px;
  background: #4d4b63;
  z-index: 11;
}

.hand {
  width: 50%;
  right: 50%;
  height: 6px;
  background: #61afff;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.hour-hand {
  width: 30%;
  z-index: 3;
}

.hand.min-hand {
  height: 3px;
  z-index: 10;
  width: 40%;
}

.hand.second-hand {
  background: #ee791a;
  width: 45%;
  height: 2px;
}
/*  */

/* part4 */
.part4{
    width: 100%;
    height: 30px;
    background: radial-gradient(circle, rgba(33,93,219,1) 0%, rgba(36,140,235,1) 100%, rgba(0,212,255,1) 100%);
}
/* * */
/* part5 */
.waterpump{
  background: #fff;
  width: 155px;
  height: 206px;
  border-radius: 140px 140px 130px 130px;
  border: 3px solid #157bcd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 146px;
}
.waterpump .main-waterpump{
  background: #157bcd;
  width: 150px;
  height: 200px;
  border-radius: 140px 140px 130px 130px;
  overflow: hidden;
}
.waterpump .header{
  width: 150px;
  height: 120px;
  background: #03a9f4;
  border-radius: 0px 0px 50px 50px;
  transition: 0.3s;
}
.waterpump:hover .header{
  height: 115px;
  transition: 0.3s;
}
.lole{
  width: 20px;
  height: 150px;
  background: #fff;
  border-left: 2px solid #157bcd;
  border-right: 2px solid #157bcd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 65px;
  z-index: 999;
  position: absolute;
}
.lole .main-lole{
  width: 14px;
  height: 156px;
  background: #03a9f4;
}
/* * */
/* style off/on button */
.skeue{
  margin: auto;
  margin-top: 40vh;
  position: relative;
  height: 40px;
  padding: 0;
  width: 40px;
}

.my-btn{
  border-radius: 50%;
  border: none;
  padding: 0;
  border: 2px solid #878787;
  box-shadow: 0 0 0 6px #dcdcdc, 6px 6px 12px 8px #c0c0c0, -6px -6px 12px 8px white;
}
  
  > * 
   display: block
  > input
   top: 0
   left: 0
   position: absolute
   visibility: hidden
  > label
   margin-bottom: 0
   //background: radial-gradient(ellipse at center, rgba(0,0,0,0.30) 20%,rgba(0,0,0,0) 80%)
   padding: 1rem calc(1rem + 1.5px)
   border-radius: 50%
   svg path, svg line
    transition: stroke 0.4s
  input[type="checkbox"]:checked+label 
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 20%,rgba(0,0,0,0.30) 80%) 
    svg 
      path, line
       stroke: green
     
     
/* * */

/* media for maximum width 991 px */
@media (max-width: 991px){
  .navbar-nav{
    padding-right: 10px;
  }
  .lines {
    width: 30px;
    height: 30px;
    color: black;
}
  .navbar-toggler {
    position: absolute;
    right: 0;
    z-index: 4;
    border: 0;
    /* top: 5px; */
    /* font-size: 1.45rem; */
}
.navbar-toggler:focus{
  box-shadow: none !important;
  outline: none !important;
}
.navbar-collapse.show {
  right: 0;
  -webkit-transition: right 0.3s linear 0s;
  -moz-transition: right 0.3s linear 0s;
  -ms-transition: right 0.3s linear 0s;
  -o-transition: right 0.3s linear 0s;
  transition: right 0.3s linear 0s;
}
.navbar-collapse {
  background: gray;
  width: 45%;
  position: fixed;
  top: 0;
  right: -500px;
  height: 100% !important;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  -webkit-transition: right 0.3s linear 0s;
  -moz-transition: right 0.3s linear 0s;
  -ms-transition: right 0.3s linear 0s;
  -o-transition: right 0.3s linear 0s;
  transition: right 0.3s linear 0s;
  overflow-y: scroll;
}
.navbar-collapse.show{
right: 0;
-webkit-transition: right 0.3s linear 0s;
-moz-transition: right 0.3s linear 0s;
-ms-transition: right 0.3s linear 0s;
-o-transition: right 0.3s linear 0s;
transition: right 0.3s linear 0s;
}
.header-navbar-collapse{
background-color: yellow;
}
.close-collapse{
top: 10px;
left: -24px;
bottom: 15px;
position: absolute;
color: white;
background: #334782;
border-radius: 100%;
width: 20px;
height: 20px;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
}
.close-collapse svg{
width: 10px;
}
.logo-collapse{
position: absolute;
height: 90px;
margin: 5px;
top: 5px;
}
.navbar-collapse::-webkit-scrollbar {
width: 5px;
}
.navbar-collapse::-webkit-scrollbar-thumb {
background: #1f1b2d;
}
.navbar-collapse::-webkit-scrollbar-track {
background: #dbe2ee;
}
.nav-link{
direction: rtl;
display: flex;
flex-direction: row !important;
}
.nav-link span{
margin: 10px 5px 0 0 ;
}
 }
/* * */
